[submodule "SoyCalidad/tyt_calidad_"]
	path = SoyCalidad/tyt_calidad_
	url = git@github.com:SoyCalidad/tyt_calidad_.git
	branch = cybe_share
[submodule "SoyCalidad/frescos_calidad_"]
	path = SoyCalidad/frescos_calidad_
	url = https://github.com/SoyCalidad/frescos_calidad_/
